div.top{
    position: absolute;
    height: 100px;
    width: 100%;
    background-color: #dfdfdf;
}

div.left{
    position: absolute;
    top: 100px;
    height: 100%;
    width: 200px;
    background-color: #efefef;
}

ul.blog-list{
    margin-left: 20%;
    font-size: 20px;
}

p.date{
    background-color: #cfcfcf;
    color:#000000;
    font-size: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 50px;
}

p.title{
    color:#000000;
    font-size: 60px;
    text-align: center;
}

div.content{
    color:#000000;
    position: absolute;
    top: 100px;
    left: 200px;
}

p.lorem1{
    color: #000000;
    font-size: 30px;
}